{% extends 'layouts/base.html' %}

{% load static %}

{% block javascripts %}
  <script src="{% static 'assets/js/famille.js' %}"></script>
  
 
{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
  <div class="d-block mb-4 mb-md-0">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
          <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
              <li class="breadcrumb-item">
                  <a href="{% url 'index' %}">
                      <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                  </a>
              </li>
              <li class="breadcrumb-item"><a href="#">Stock</a></li>
              <li class="breadcrumb-item active" aria-current="page">Famille</li>
          </ol>
      </nav>
      <h2 class="h4">Table famille</h2>
      <p class="mb-0">tous les Familles</p>
  </div>
  <div class="btn-toolbar mb-2 mb-md-0">
    <button type="button" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center js-load-famille" data-url="{% url 'famille_create' %}">
        <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg>
        New Famille
    </button>
    
</div>
</div>
<div class="card card-body border-0 shadow table-wrapper table-responsive">
  <table class="table table-hover" id="famille-table">
    <thead>
      <tr>
        <th class="border-gray-200">#</th>
        <th class="border-gray-200">Title </th>
        <th class="border-gray-200">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% include 'Familypage/includes/famille_list.html' %}
    </tbody>
  </table>
  </div>

  <div class="modal fade" id="modal-famille" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

      </div>
    </div>
  </div>
{% endblock %}