{% extends "layouts/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
  <div class="d-block mb-4 mb-md-0">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
          <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
            <li class="breadcrumb-item">
              <a href="{% url 'index' %}">
                  <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
              </a>
          </li>
          <li class="breadcrumb-item"><a href="#">Stock</a></li>
          <li class="breadcrumb-item active" aria-current="page">Famille</li>
      </ol>
  </nav>
  <h2 class="h4">Table d'emplacement</h2>
  <a href="{% url 'item_emplacement' %}" class="btn btn-outline-gray-600 d-inline-flex align-items-center">Materiel par emplacement</a>
</div>
  <div class="btn-toolbar mb-2 mb-md-0">
    

      
      
  </div>
</div>


    
     
  <div style="margin-top: -50px;">

<form  method="POST" >
  {% csrf_token %}
<center>
  <div class="form-group col-md-6">
      {{form|crispy}}
      <button type="submit" class="btn btn-primary">Ajouter</button>
  </div>
</center>
  
</form>
</div>


<div class="card card-body border-0 shadow table-wrapper table-responsive">
    <table id="table" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>id</th>
          <th>emplacemnt exact</th>
       <th>actions</th>
        </tr>
     </thead>
            <tbody>
                {% for emp in emplacement %}
              <tr>
                
                <td>{{emp.id}}</td>
                <td>{{emp.nom_dis}} </td>
                <td><a role="button" class="btn btn-warning btn-sm" href="{% url 'DistinationUpdate' emp.id %}">update</a> 
                  <form action="{% url 'deleteDistination' emp.id %}" method="POST" class="d-inline">
                     {% csrf_token %}
                     <button type="submit" class="btn btn-danger btn-sm">delete</button></form></td>
                
              </tr>
              
              {% endfor %}
            </tbody>
          </table>
        </div>
</div>
     </div> 
      </div>
      <!-- follow me template -->
      
{% endblock %}
{% block javascripts %}
<script>
$(document).ready(function() {
  $('#table').DataTable();
} );

</script>



{% endblock javascripts %}