{% load crispy_forms_tags %}
<form method="post" action="{% url 'famille_create' %}" class="js_create_famille_form">
    {% csrf_token %}
    <div class="modal-header">
      <h2 class="h6 modal-title">Famille des Articles</h2>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
    <div class="modal-body">
      {{form|crispy}}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-primary">Create Famille</button>
    </div>
  </form>
  