{% extends "layouts/base.html" %}

{% block title %} Transactions {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
      <div class="d-block mb-4 mb-md-0">
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
              <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                  <li class="breadcrumb-item">
                      <a href="#">
                          <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                      </a>
                  </li>
                  <li class="breadcrumb-item"><a href="#">Volt</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Transactions</li>
              </ol>
          </nav>
          <h2 class="h4">historique de l'item selectionner {{infos.id_sous_famille}}</h2>
          <p class="mb-0"></p>
      </div>
      
  </div>
  
  <div class="table-settings mb-4">
      <div class="row align-items-center justify-content-between">
        
          <div class="col-4 col-md-2 col-xl-1 ps-md-0 text-end">
              <div class="dropdown">
                  
                  <div class="dropdown-menu dropdown-menu-xs dropdown-menu-end pb-0">
                      <span class="small ps-3 fw-bold text-dark">Show</span>
                      <a class="dropdown-item d-flex align-items-center fw-bold" href="#">10 <svg class="icon icon-xxs ms-auto" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg></a>
                      <a class="dropdown-item fw-bold" href="#">20</a>
                      <a class="dropdown-item fw-bold rounded-bottom" href="#">30</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  
  <div class="card card-body border-0 shadow table-wrapper table-responsive">
      <table id="table" class="table table-hover">
          <thead>
              <tr>
                  <th class="border-gray-200">Article</th>
                  <th class="border-gray-200">code#</th>					
                  <th class="border-gray-200">codebar</th>
                  
                  <th class="border-gray-200">Quantite</th>	
                  
                  <th class="border-gray-200">emplacement</th>
                  <th class="border-gray-200">date</th>
                  <th class="border-gray-200">Action</th>
                  

              </tr>
          </thead>
          <tbody>
            
              <!-- Item -->
              {% for article in data %}
              <tr>
                
                <td>{{article.id_sous_famille}}</td>
                <td>{{article.ci}}</td>
                <td>{{article.codeibar}} </td>
                <td>{{article.quantity}} </td>
                <td>{{article.issue_to}}</td>
                <td>{{article.last_updated}}</td>
                {% if article.receive_by %}
                <td style="color: rgb(14, 122, 14);">reception:{{article.receive_by}} </td>
                {% else %}
                <td style="color: rgb(252, 56, 56);"> affecter: {{article.issue_by}} </td>
                {% endif %}
              </tr>
              {% endfor %}                      
          </tbody>
      </table>
     </div>
     

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
$(document).ready(function() {
  $('#table').DataTable();
} );

</script>



{% endblock javascripts %}
